<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Login</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="login">
                <span>Welcome to the DevBook!</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Enter your email address">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Enter your email password">
                </div>
                <a href="#">Sign Up</a>
                <button type="submit" class="btn-devbook">Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>