<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Signup</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="signup">
                <span>Create your account</span>
                <div>
                    <input type="text" name="name" id="name" placeholder="Enter your name" required>
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Enter your nickname" required>
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Enter your email address" required>
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Enter your email password" required>
                </div>
                <div>
                    <input type="password" name="password-confirm" id="password-confirm" placeholder="Confirm your email password" required>
                </div>
                <a href="/login">Login</a>
                <button type="submit" class="btn-devbook">Sign Up</button>
            </form>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/signup.js"></script>
</body>
</html>